@charset "UTF-8";
* {
  font-family: "Oswald", "微軟正黑體";
}

html, body {
  overflow-x: hidden;
  font-size: 16px;
}

nav.navbar {
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.5s;
  background-color: #ececec;
  border-bottom: 1px solid #ececec;
}
nav.navbar .navbar-brand {
  color: #333333;
  font-weight: 900;
  transition: 0.5s;
}
nav.navbar .navbar-brand:hover {
  color: #f5d061;
}
nav.navbar #navbarNav.collapse.navbar-collapse .nav-link {
  font-weight: 900;
  transition: 0.5s;
}
nav.navbar #navbarNav.collapse.navbar-collapse .nav-link:hover {
  color: #f5d061;
}

nav.navbar.at-top {
  background-color: transparent;
}
nav.navbar.at-top a, nav.navbar.at-top a:visited {
  color: #ececec;
}
nav.navbar.at-top #navbarNav a, nav.navbar.at-top #navbarNav a:visited {
  color: #ececec;
}

header#section_home {
  background-color: #333333;
  padding-top: 60px;
  padding-bottom: 60px;
}
header#section_home .container {
  width: 100%;
  height: 600px;
  position: relative;
}
header#section_home .container .img {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(https://i.imgur.com/zEXhCiS.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  max-width: 860px;
}
header#section_home .container .img-box {
  display: inline-block;
  color: #ececec;
  font-size: 70px;
  font-weight: 900;
  line-height: 60px;
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translateY(-50%);
}
header#section_home .container .img-box .color {
  color: #f5d061;
}
header#section_home .container .img-box .title {
  font-weight: normal;
  font-size: 20px;
  position: relative;
  top: 35px;
}
header#section_home .container .img-box .explore {
  font-size: 16px;
  line-height: 25px;
  color: #f5d061;
  padding: 0px 20px;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
  top: 125%;
  border: 1px solid #f5d061;
}
header#section_home .container .img-box .explore.at-top {
  opacity: 1;
}
@media screen and (max-width: 800px) {
  header#section_home .container .img {
    opacity: 0.5;
    transition: 0.5s;
  }
  header#section_home .container .img-box {
    text-align: center;
  }
  header#section_home .container .img-box .explore {
    position: absolute;
    left: 50%;
  }
}
@media screen and (max-width: 500px) {
  header#section_home .container .img-box {
    left: 10%;
  }
  header#section_home .container .img-box .title {
    opacity: 0;
  }
  header#section_home .container .img-box .explore {
    position: absolute;
    top: 110%;
  }
}

section#section_title {
  background-color: #333333;
}
section#section_title .container .row .col-md-12 {
  width: 100%;
  height: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
}
section#section_title .container .row .col-md-12 .title1 {
  color: #ececec;
  text-align: center;
  font-size: 30px;
  max-width: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section#section_title .container .row .col-md-12 .title2 {
  color: #ececec;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
}
section#section_title .container .row .col-md-12 i {
  color: #f5d061;
  font-size: 30px;
}
section#section_title .container .row .col-md-12 .fa-left {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
section#section_title .container .row .col-md-12 .fa-right {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}
@media screen and (max-width: 800px) {
  section#section_title .container .row .col-md-12 .title1 {
    font-size: 25px;
  }
  section#section_title .container .row .col-md-12 .title2 {
    opacity: 0;
  }
}
@media screen and (max-width: 500px) {
  section#section_title .container .row .col-md-12 .title1 {
    font-size: 20px;
  }
  section#section_title .container .row .col-md-12 i {
    font-size: 40px;
  }
  section#section_title .container .row .col-md-12 .fa-left {
    position: absolute;
    left: 10%;
  }
  section#section_title .container .row .col-md-12 .fa-right {
    position: absolute;
    right: 10%;
  }
}

section#section_about {
  background-color: #333333;
  padding-bottom: 50px;
}
section#section_about .container {
  width: 100%;
  height: 100%;
}
section#section_about .container .row .col-md-5 {
  position: relative;
  padding-bottom: 20px;
}
section#section_about .container .row .col-md-5 .mainbox {
  width: 200px;
  height: 250px;
  position: relative;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
section#section_about .container .row .col-md-5 .mainbox .imgbox {
  width: 200px;
  height: 250px;
  background-image: url(https://i.imgur.com/IuR1OFq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: absolute;
}
section#section_about .container .row .col-md-5 .mainbox .imgbg {
  border: 10px solid #f5d061;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 35%;
  left: 15%;
}
section#section_about .container .row .col-md-5 .mainbox .imgbox2 {
  width: 150px;
  height: 100px;
  position: absolute;
  top: -10%;
  left: 15%;
  background-color: #f5d061;
}
section#section_about .container .row .col-md-5 .mainbox .imgbox3 {
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #6C808C;
  left: 50%;
  top: 20%;
  opacity: 0.5;
}
section#section_about .container .row .col-md-7 {
  padding-top: 40px;
}
section#section_about .container .row .col-md-7 .row {
  padding-bottom: 10px;
  background-color: #333333;
}
section#section_about .container .row .col-md-7 .row h4 {
  color: #ececec;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  padding-top: 10px;
}
section#section_about .container .row .col-md-7 .row .col-md-6 {
  padding-top: 10px;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
}
section#section_about .container .row .col-md-7 .row .col-md-6 i {
  display: inline-block;
  font-size: 40px;
  color: #ececec;
  padding: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 500px) {
  section#section_about .container .row .col-md-7 .row .col-md-6 i {
    font-size: 80px;
  }
}
section#section_about .container .row .col-md-7 .row .col-md-12 {
  padding-top: 100px;
  padding-bottom: 40px;
}
section#section_about .container .row .col-md-7 .row .col-md-12 .aboutme {
  font-size: 70px;
  color: #ececec;
  border-bottom: 3px solid #6C808C;
}

section#section_works {
  background-color: #333333;
  padding: 70px 0px;
  padding-top: 150px;
  padding-bottom: 150px;
}
section#section_works .container {
  width: 100%;
  height: 100%;
}
section#section_works .container .row.works1 .col-md-7 {
  position: relative;
  left: -50%;
}
@media screen and (min-width: 1200px) {
  section#section_works .container .row.works1 .col-md-7 {
    position: relative;
    left: -40%;
  }
}
@media screen and (max-width: 767px) {
  section#section_works .container .row.works1 .col-md-7 {
    position: relative;
    left: 0%;
  }
}
section#section_works .container .row.works1 .col-md-7 .main-card {
  color: #ececec;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  padding: 20px 45px;
  padding-top: 30px;
  max-width: 400px;
  text-align: right;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  section#section_works .container .row.works1 .col-md-7 .main-card {
    text-align: center;
  }
}
section#section_works .container .row.works1 .col-md-7 .main-card .title-main {
  font-size: 40px;
  padding-bottom: 20px;
}
section#section_works .container .row.works1 .col-md-7 .main-card .text-btn {
  color: #ececec;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  background-color: #6C808C;
  border-radius: 10px;
  trainsition: 0.5s;
}
section#section_works .container .row.works1 .col-md-7 .main-card .text-btn:hover {
  color: #f5d061;
}
section#section_works .container .row.works1 .col-md-5 {
  position: relative;
  left: 40%;
}
@media screen and (max-width: 767px) {
  section#section_works .container .row.works1 .col-md-5 {
    position: relative;
    left: 0%;
  }
}
section#section_works .container .row.works1 .col-md-5 .main-pic {
  width: 250px;
  height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
section#section_works .container .row.works1 .col-md-5 .mainpic {
  width: 250px;
  height: 300px;
  background-image: url(https://i.imgur.com/1X7JegX.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}
section#section_works .container .row.works1 .col-md-5 .mainbg {
  width: 250px;
  height: 400px;
  background-color: #6C808C;
  position: absolute;
  left: 15%;
  top: -10%;
}
section#section_works .container .row.works2 {
  padding-top: 200px;
}
@media screen and (max-width: 767px) {
  section#section_works .container .row.works2 {
    padding-top: 100px;
  }
}
section#section_works .container .row.works2 .col-md-7 {
  position: relative;
  padding-bottom: 60px;
}
section#section_works .container .row.works2 .col-md-7 .workimg {
  width: 400px;
  height: 250px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  section#section_works .container .row.works2 .col-md-7 .workimg {
    position: relative;
    left: 70%;
  }
}
section#section_works .container .row.works2 .col-md-7 .workimg .workig {
  width: 400px;
  height: 250px;
  background-image: url(https://i.imgur.com/HmUjahF.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}
section#section_works .container .row.works2 .col-md-7 .workimg .workbg {
  width: 400px;
  height: 200px;
  background-color: #6C808C;
  position: absolute;
  top: -10%;
  right: 20%;
}
section#section_works .container .row.works2 .col-md-7 .workimg .workbg2 {
  width: 200px;
  height: 200px;
  background-color: #f5d061;
  opacity: 0.5;
  position: absolute;
  top: 30%;
  left: 25%;
}
section#section_works .container .row.works2 .col-md-5 .main-card2 {
  color: #ececec;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  padding: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1200px) {
  section#section_works .container .row.works2 .col-md-5 .main-card2 {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  section#section_works .container .row.works2 .col-md-5 .main-card2 {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
}
section#section_works .container .row.works2 .col-md-5 .main-card2 .title-main2 {
  font-size: 40px;
  padding-bottom: 20px;
}
section#section_works .container .row.works2 .col-md-5 .main-card2 .text-btn2 {
  color: #ececec;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  background-color: #6C808C;
  border-radius: 10px;
  trainsition: 0.5s;
}
section#section_works .container .row.works2 .col-md-5 .main-card2 .text-btn2:hover {
  color: #f5d061;
}

footer#section_contact {
  background-color: #333333;
}
footer#section_contact .container {
  padding-top: 70px;
  padding-bottom: 40px;
  position: relative;
}
footer#section_contact .container .row11 .col-md-12 {
  width: 100%;
  height: 100px;
}
footer#section_contact .container .row11 .col-md-12 .Contact {
  display: inline-block;
  color: #ececec;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5d061;
  font-size: 50px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer#section_contact .container .row11 .col-md-12 .Contact:before {
  content: "C";
  display: block;
  font-size: 90px;
  color: #6C808C;
  position: absolute;
  top: -60%;
  left: 50%;
  bottom: 40px;
  transform: scaleX(1.6) translateX(-30%);
  opacity: 0.4;
}
footer#section_contact .container .row22 .col-md-12 {
  width: 100%;
  height: 100px;
  position: relative;
}
footer#section_contact .container .row22 .col-md-12 .contact-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 30%;
}
footer#section_contact .container .row22 .col-md-12 .contact-box i {
  display: inline-block;
  font-size: 30px;
  color: #ececec;
  padding: 5px 20px;
}
@media screen and (max-width: 800px) {
  footer#section_contact .container .row22 .col-md-12 .contact-box i {
    padding: 5px 10px;
  }
}
@media screen and (max-width: 500px) {
  footer#section_contact .container .row22 .col-md-12 .contact-box i {
    padding: 5px 10px;
  }
}